@charset "utf-8";
@use '../base';

.edit-list {
  width: 1000px;
  margin: 0 auto;
}

.edit-list-form {
  color: base.$main-button-color;
}

.edit-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.delete-list-button {
  color: #ff3333;
  border: solid 1px #ff3333;
  width: 80px;
  height: 40px;
  margin: 25px 5px;
  border-radius: 5px;
}

.edit-list-button {
  background-color: base.$main-button-color;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}

.error-message {
  color: base.$error-font-color;
}