@charset "utf-8";
@use '../base';

.new-list {
  width: 1000px;
  margin: 0 auto;
}

.new-list-form {
  color: base.$main-font-color;
}

.new-list-title {
  width: 300px;
  margin-bottom: 25px;
}

.new-list-button {
  background-color: base.$main-button-color;
  color: #ffffff;
  width: 80px;
  height: 40px;
  border-radius: 5px;
}