$font-stack: -apple-system,
 BlinkMacSystemFont,
 'Segoe UI',
 'Roboto',
 'Oxygen',
 'Ubuntu',
 'Cantarell',
 'Fira Sans',
 'Droid Sans',
 'Helvetica Neue',
 sans-serif;

 $main-font-color:#555555;

 $error-font-color:#ff3333;

 $main-button-color:#242F9B;